.org-index-listing{
    width: 250px;
    padding: 16px;
    color: #7F3F98;
    border-radius: 5px;
    background-color: #d2f9fa9d;
    margin-top: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.org-index-listing strong{
    width: 60%;
}


.most-popular{
    width: 100%;
    margin: auto
}

.most-popular-container {
    width: 100%;
}

.org-index-button{
    font: inherit;
    font-size: 13px;
    /* position: relative; */
    /* left: 80%; */
    width: 50px;
    height: 90%;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-radius: 5px;
    font-weight: 700;
}

.org-index-button:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.org-index-button:focus{
    outline: none;
}

.org-index{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/jazz-cup-theme.jpg');
    background-size: cover;
}

.org-index h1{
    font-size: 34px;
    font-family: 'Permanent Marker', cursive;
    width: 60%;
    color: #7F3F98;
    background-color: #d2f9fa9d;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    /* border: 1px solid lightgray; */
    border-radius: 1rem;
    box-shadow: 5px 5px 15px -11px rgb(0 0 0 / 37%);
}

.org-index-title-container {
    
}

.org-index-container{
    margin: 10px auto;
    column-gap: 1rem;
    display: grid;
    width: fit-content;
    padding: 0 2rem;
    background-color: rgba( 255, 255, 255, 0.9 );
    border: 1px solid lightgray;
    border-radius: 16px;
    box-sizing: border-box;
    padding-bottom: 20px;
    box-shadow: 5px 5px 15px -11px rgba(0,0,0,0.37);
}

@media screen and (min-width: 300px) {
    .org-index-container {
        grid-template-columns: repeat(1, 250px);
    }
}

@media screen and (min-width: 600px) {
    .org-index-container {
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (min-width: 900px) {
    .org-index-container {
        grid-template-columns: repeat(3, 250px);
    }
}

@media screen and (min-width: 1200px) {
    .org-index-container {
        grid-template-columns: repeat(4, 250px);
    }
}

@media screen and (min-width: 1500px) {
    .org-index-container {
        grid-template-columns: repeat(5, 250px);
    }
}

@media screen and (min-width: 1750px) {
    .org-index-container {
        grid-template-columns: repeat(6, 250px);
    }
}

@media screen and (min-width: 2000px) {
    .org-index-container {
        grid-template-columns: repeat(7, 250px);
    }
}
