.org-index-listing{
    width: 80%;
    padding: 16px;
    color: white;
    border-radius: "5px";
    background-color: #7F3F98;
    margin-top: 8px;
    border-radius: 4px;
}

.most-popular{
    margin: auto
}

.join-org-button{
    position: relative;
    left: 80%;
    width: 20%;
    height: 90%;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-radius: 5px;
}

.join-org-button:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.join-org-button:focus{
    outline: none;
}

.org-index{
    margin: 2%
}

.org-index h1{
    font-size: 34px;
    font-family: 'Permanent Marker', cursive;
}

.org-index-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
}
