.dashboard-column{
    height: 700px;
    width: 20%;
    margin: 3%;
    background-color: #4AC2C5;
    border-radius: 6px;
}

.dashboard-container{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.column-title{
    font-size: 24px;
    margin: 10px;
    left: 50%;
    text-align: center;
    color: white;
    background-color: #7F3F98;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column-subtitle{
    font-size: 18px;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    color: white;    
}


