.dashboard-column{
    height: 700px;
    width: 28%;
    margin: 2%;
    margin-top: 4%;
    background-color: #4AC2C5;
    border-radius: 6px;
}

.dashboard-container{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.column-title{
    font-size: 32px;
    margin: 10px;
    left: 50%;
    text-align: center;
    color: white;
    background-color: #7F3F98;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
}

.column-subtitle{
    font-size: 26px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    color: white;    
    font-family: 'Permanent Marker', cursive;
}

