

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #ffffff;
  --primary-light: #D2F9FA;
  --primary-accent: #F1D9FA;
  --purple-accent: #7F3F98;
}

.organization-list-container{
	padding: 8px;
	width: 90%;
	margin: auto;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
}

.admin-button{
	font: inherit;
	width: 45px;
	height: 90%;
	padding: 5px;
	border-style: none;
	background-color: white;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
}

.admin-button:hover{
	cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.dashboard-org-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	user-select: "none";
	padding: 10px;
	margin: 5px 9px;
	color: var(--purple-accent);
	border-radius: 16px;
	background-color: var(--primary-light);
}

.leave-org-button{
    width: 55px;
    height: 90%;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-radius: 5px;
		margin-top: 5px;
		font: inherit;
		font-size: 13px;
		font-weight: 700;
}

.leave-org-button:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.leave-org-button:focus{
    outline: none;
}

.buttons-list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: right;
}



