.organization-list-container{
	background: #4AC2C5;
	padding: 8px;
	width: 80%;
	margin: auto;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
}



.admin-button{
    position: relative;
    right: 10px;
    width: 15%;
    height: 90%;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-radius: 5px;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 14px;
}



