:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #ffffff;
  --primary-light: #D2F9FA;
  --primary-accent: #F1D9FA;
  --purple-accent: #7F3F98;
}

.next-coolr-container{
    color: white;
    background-color: var(--primary-light);
    color: var(--purple-accent);
    width: 80%;
    height: 20%;
    margin: auto;
    border-radius: 16px;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.next-coolr-container h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
}

.next-coolr-container h2{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    /* color: #4AC2C5; */
    color: black;
}

.next-coolr-container h3{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: lightgray
}

.calendar-container{
    background-color: #7F3F98;
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top:10px;
    border-radius: 16px;
}



