.next-coolr-container{
    color: white;
    background-color: #7F3F98;
    width: 80%;
    height: 20%;
    margin: auto;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.next-coolr-container h1{
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
}

.next-coolr-container h2{
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    color: lightgray
}

.next-coolr-container h3{
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    color: lightgray
}

.calendar-container{
    background-color: #7F3F98;
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top:10px;
    border-radius: 5px;
}



