@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #ffffff;
  --primary-light: #D2F9FA;
  --primary-accent: #F1D9FA;
  --purple-accent: #7F3F98;
}

.org-listing{
    width: 80%;
    padding: 16px;

    color: black;
    border-radius: 16px;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 700;
    background-color: var(--primary-light);
    margin: auto;
    margin-top: 8px;
}


.org-listing-name{
    position: relative;
    left: -60px;
}

.most-popular{
    margin: auto
}

.join-org-button{
    position: relative;
    left: 80%;
    width: 20%;
    height: 90%;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-radius: 5px;
}

.join-org-button:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.join-org-button:focus{
    outline: none;
}
