.pair-promp-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  height: 300px;
  background-color: rgb( 255, 255, 255);
  color: darkgray;
  border-radius: 16px;

  button{
    background-color: #d2f9fa;
    cursor: pointer;
    color: #7F3F98;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    transition: all 0.5s;
    margin-bottom: 10px;
  }

  .org-name-pair-prompt{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
    color: #7F3F98;
  }

  button:hover{
    background-color: #7F3F98;
    color: white;
  }

  button:focus{
    outline: none;
  }

  div {
    margin-bottom: 30px;
    font-size: 20px;
  }

  p {
    text-align: center;
    margin: 20px auto;
  }

}