.admin-container{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: absolute;
    left: 0px;
}

.org-name-header{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    font-size: 26px;
    color: #7F3F98;
}

.admin-members-column{
    height: 700px;
    width: 20%;
    margin: 3%;
    background-color: #4AC2C5;
    border-radius: 6px;
}

.coolr-times-column{
    height: 700px;
    width: 40%;
    margin: 3%;
    background-color: #4AC2C5;
    border-radius: 6px;
}

.add-member-button{
    position: relative;
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 6px;
    background-color: #7F3F98;
}

.add-member-button:hover{
    cursor: pointer;
    background-color: #84469c
}

.add-member-button:focus {
    outline: none;
  }

.unauthorized{
    position: relative;
    text-align: center;
    top: 300px;
    font-size: 30px
}

