@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #ffffff;
  --primary-light: #D2F9FA;
  --primary-accent: #F1D9FA;
  --purple-accent: #7F3F98;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.coolr-call.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
}

.logo {
  text-align: center;
}

.logo > h3 {
  font-size: 3.5rem;
  font-family: 'Permanent Marker', cursive;
  color: var(--purple-accent);
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}

.main-left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

#video-grid-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-light);
  background-image: url('../../assets/jazz-cup-theme.jpg');
  background-size: cover;
}

video {
  height: 300px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 400px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.options {
  padding: 1.25rem;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  display: flex;
  background-color: var(--main-darklg);
}

#video-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#microphone-icon, #send-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.options-left {
  display: flex;
}

.options-right {
  margin-left: auto;
}

.option-button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
  padding: 0 15px;
  box-sizing: content-box;
  width: 250px;
}

#video-icon:hover, #microphone-icon:hover, #send-icon:hover {
  padding: 0.15rem 0.0rem;
  border-radius: 8px;
  background-color: var(--primary-light);
}

.background-red {
  background-color: #f6484a;
}

.main-right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: var(--main-darklg);
}

.main-chat-window {
  flex-grow: 1;
  overflow-y: auto;
}

.main-chat-window::-webkit-scrollbar {
  display: none;
}

.main-message-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-sizing: border-box;
}

.main-message-container > input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  
  height: inherit;
}

.message {
  display: flex;
  flex-direction: column;
}

.message > b {
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message > span {
  background-color: #eeeeee;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

#video-grid {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

#showChat {
  display: none;
}

#send-icon {
  padding: 1rem;
}

.header-back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

.chat-message-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  padding-left: 0.15rem;
}

.option-button.true {
  background-color: var(--purple-accent);
}

.user-video-container {
  background-color: black;
}

#user-video {
  z-index: 99;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#peer-video {
  z-index: 80;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #161d29;
}

@media (max-width: 700px) {
  .main-right {
    display: none;
  }
  .main-left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
}