body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Monteserrat';
  src: url('./assets/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Monteserrat Permaent_Marker';
  src: url('./assets/Montserrat,Permanent_Marker/Permanent_Marker/PermanentMarker-Regular.ttf');
}