.navbar{
    position: relative;
    background-color: #4AC2C5;
    height: 70px;
    width: 100%;
    display: flex;
    color: #7F3F98;
}

.nav-logo{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 24px;
    text-decoration: none;
    color: #7F3F98;
    font-family: 'Permanent Marker', cursive;
}


.navlinks{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.navlink{
    color:white;
    text-decoration: none;
    margin: 10px;
    transition: all 0.2s;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.navlink:hover{
    color: #7F3F98;
    cursor: pointer;
}

.logout{
    background-color: #7F3F98;
    border-style: none;
    text-decoration: none;
    margin: 10px;
    color: #4AC2C5;
    height: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.logout:hover{
    background-color: #814599;
    cursor: pointer;
}