:root {
    --main-darklg: #1d2635;
    --main-dark: #161d29;
    --primary-color: #2f80ec;
    --main-light: #ffffff;
    --primary-light: #D2F9FA;
    --primary-accent: #F1D9FA;
    --purple-accent: #7F3F98;
    font-family: "Poppins", sans-serif;
  }


.splash-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    justify-content: center;
    background-color: #D2F9FA;
    border-radius: 10px;
}

.watercooler-img {
    transform: translateX(-150px);
    height: auto;
    width: 500px;
    margin: 50px;
    border-radius: 5px;
}

.splash-container h1{
    font-family: 'Permanent Marker', cursive;
    color: #7F3F98;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top:50px;
}

.splash-text-container {
    margin-right: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.splash-text {
    margin: 15px auto;
}



.footer{
    position:fixed;
    height: 8%;
    width:100%;
    bottom: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 4;
    color: white;
    display:flex;
    justify-content:left;
    align-items: center;
}

.footer i{
    color:--purple-accent;
    font-size: 2vw;
    transition: all 0.2s;
    margin: 1vw 1vw;
}

.footer i:hover{
    color: #F1D9FA;
}

