.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: white;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 100%;
  // border: 1px solid rgb(255, 255, 255);

  span{
    padding: 3px;
  }
}

.days-container{
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin: 0 5px 5px 5px;
}

.calendar-day-container{
  display: grid;
  grid-template-columns: 35% 65%;
  text-align: left;
  width: 100%;
  border-top: 1px solid white;
  height: fit-content;

  div{
    padding: 3px;
  }
}

.calendar-day-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.org-name-list {

  li{
    width: 100%;
  }
  
}

.coolr-hour-list{
  

  li{
    width: 100%;
    }

}

.week-header{
  font-weight: 600;
}
